<launch>
    <node 
        pkg="bike" 
        name="map_server" 
        type="map_node.py" 
    />
    <node
        pkg="bike"
        name="vis"
        type="vis_node.py"
    />

    <node pkg="rosbag" type="play" name="rosbag" args = "-r 10 /home/pi/ros_ws/src/bike/bagfiles/recent_run.bag" />
</launch>
